body {
    background-color:black;
}
h1 {
    color:white;
    text-align: center;
}

.button {
    background-color: black;
    color: white;
    border: 1px solid white;
    float: center;
}

.button:hover {
    background-color: white; /* Green */
    color: black;
    float: center;
}

