body {
    background-color: #A0A0A0; 	 
}

h1 {
    text-align: center;
    -webkit-animation: dissapear 7s forwards;
}

#completelevelcircles {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  float: left;
  margin-left: 325px;
  text-align: center;
  line-height: 0px;
  color: #A0A0A0;
}

/*i can try positioning circles by px*/

#incompletelevelcircles {
  background-color: #E0E0E0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 10px;
  float: center;
  margin-left: auto;
  margin-right: auto;

}

#completelevelcircles:hover {
    font-weight: bold;

}

.redsquare {
     background-color: red; 
     border: 2.4px solid black;
     -webkit-animation: dissapear 5s forwards;

}

.redsquare:hover {
     background-color: black; 
     border: 2.4px solid black;
    -webkit-animation: hover 5s forwards;

}

#redsquare1 {
    width: 150px;
    height: 100px;
}

#redsquare2 {
    width: 200px;
    height: 100px;
    margin-top: 10px;
}

 
@-webkit-keyframes dissapear {

    100%  {background-color: #A0A0A0; border: .1px #A0A0A0; color: #A0A0A0;
}

