	body {
	font-family: Arial, serif;
	background-color: grey;
	}
	
h1  {
    color:white;
    text-align:center;
}

a {
    text-decoration:none;
	color: blue;
}

#blueparagraph {
    color:deepskyblue;
    font-size:30px;
}

    #button {
      width: 150px;
      height: 50px;
      text-align: center;
      border-radius: 125px;
      background: deepskyblue;
      margin:auto;
      color:white;
      font-weight:bold;
      margin-top:15px;
    }


#rocksquare {
    background-color: white;
    border-radius: 25px;
    width:350px;
    height:300px;
    margin-top: 50px;
    padding:8px;
    text-align:center;
    margin: left;
}


#rocksquare2 {
    background-color: white;
    border-radius: 25px;
    width:350px;
    height:300px;
    margin-top: 50px;
    padding:8px;
    text-align:center;
    margin: right;
}
